<div *ngIf="user" class="clearMarginMedium">
  <div class="chat-header-block">
    <i class="fas fa-user-circle"></i>
    <i class="vertical-seperator"></i>
    <span>{{user.firstName + ' ' + user.lastName}}</span>
    <span class="right">
      <button type="button" class="close" data-dismiss="alert" (click)="Cancel()">&times;</button>
    </span>
  </div>
  <div class="message-window" [style.height]="msgHeight"></div>
  <div class="action-window">
    <form #messageForm="ngForm" class="" 
        (ngSubmit)="onSubmit(messageForm.form.value)">
      <i class="fas fa-smile smileyElement"></i>
      <textarea class="inputElement" placeholder="Type a message!!" [(ngModel)]="message"
            required name="message" #messageRef="ngModel"></textarea>   
      <button type="submit" class="buttonElement"
        [disabled]="!messageForm.form.valid">
        Send  
      </button>
    </form>
  </div>
  <!--<div *ngIf="user">{{user.firstName +  ' ' + user.lastName}}</div>-->
</div>
<div class="visible-medium" *ngIf="!user">Select a user to Chat!!</div>