<div *ngIf="user" class="clearMarginMedium" (click)="messageBoxActive()">
  <div class="chat-header-block">
    <i class="fas fa-user-circle"></i>
    <i class="vertical-seperator"></i>
    <span>{{user.firstName + ' ' + user.lastName}}</span>
    <span class="right">
      <button type="button" class="close" data-dismiss="alert" (click)="Cancel()">&times;</button>
    </span>
  </div>
  <div #msgWindow class="message-window" [style.height]="msgHeight">
    <!--<div *ngIf="messageList">MessageList length = {{messageList.length}}</div>-->
    <div class="clear" *ngFor="let message of messageList; index as i; first as isFirst">
      <div class="date-seperator" *ngIf="isFirst || (messageList[i-1] && !compareDate(message.date, messageList[i-1].date))">{{message.date | localdate}}</div>
      <div [ngClass]="{'youTag': (message.sender===user.email),'meTag': message.sender==localUser.email}">
        <span class="chat-text" [innerHTML]="message.message | emoji"></span>
        <br/>
        <span>
          <small class="grey" [innerHTML]="message.date | localtime"></small>
          <!--<span>{{message.seen}}</span>-->
          <small>
            <i *ngIf="message.sender===localUser.email" 
            [ngClass]="{'green':message.seen, 'grey':!message.seen}"  
            class="fas fa-check"></i>
          </small>
        </span>
      </div>
    </div>
  </div>
  <div class="action-window">
    <form #messageForm="ngForm" class="" 
        (ngSubmit)="onSubmit(messageForm)">
      <i class="fas fa-smile smileyElement"></i>
      <textarea class="inputElement" placeholder="Type a message!!" [(ngModel)]="message"
            required name="message" #messageRef="ngModel"></textarea>   
      <button type="submit" class="buttonElement"
        [disabled]="!messageForm.form.valid">
        Send  
      </button>
    </form>
  </div>
  <!--<div *ngIf="user">{{user.firstName +  ' ' + user.lastName}}</div>-->
</div>
<div class="visible-medium" *ngIf="!user">Select a user to Chat!!</div>