.chat-header-block{
    padding: 5px;
    background: seagreen;
}

       
.close{
    text-shadow: none;
    color: #fff;
    margin-top: -3px;
    &:focus{
        outline-color: transparent;
    }
}

.message-window{
    overflow-y: auto;
    background: #d1d1d1;//url('/asstes/grey-background.jpg');
    color: #000;
    .youTag,.meTag{
		&:after{
			clear:both;
		}
		padding:10px;
		margin: 2px 20px;
		border-radius:5px;
		max-width:~'calc(80% - 20px)';
        word-break: break-all;
        .chat-text{
            font-size: 14px;
        }
	}
	.youTag{
		background-color:white;
		float:left;
	}
	.meTag{
		background-color: #e1ffe1;
		float:right;
		&>span{
			float:right;
		}
	}
    .loadingBlock{
        text-align: center;
        top: 50%;
        position: relative;
    }
}

@media (max-width: 767px) {
    .clearMarginMedium{
        margin: -6px -15px 0;
    }
}


.action-window{
    padding:3px;
    border:1px solid black;
    background: black;
    .smileyElement{
        font-size: 20px;
        vertical-align: bottom;
    }
    .inputElement{
        width: ~'calc(100% - 80px)';
        height: 40px;
        max-height: 300px;
        font-size: 13px;
        vertical-align: bottom;
    }
    .buttonElement{
        width: 50px;
        vertical-align: bottom;
        background: #4a9a4a;
        color: wheat;
        border: 2px solid #4a7a4a;
        border-radius: 0px 5px 5px 0;
        font-weight: bold;
    }
}

small{
    font-size: 10px;    
}
.grey{
    color: #919191;
}
.green{
    color: #009900;
}
.date-seperator{
    text-align: center;
    background: #888882;
    margin: 3px 25%;
    border-radius: 10px;
    color: white;
}

.typing{
    font-size:11px;
    position: relative;
}

@keyframes firstDot {
    0%   {opacity: 0}
    25%  {opacity: 1}
    100% {opacity: 1}
}
@keyframes secondDot {
    0%   {opacity: 0}
    25%  {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 1}
}
@keyframes thirdDot {
    0%   {opacity: 0}
    25%  {opacity: 0}
    50%  {opacity: 0}
    75%  {opacity: 1}
    100% {opacity: 1}
}

.jump{
    position: absolute;
    animation-duration: 2s;
    // display: none;
    margin-top: 6px;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    &.first{
        animation-name: firstDot;
        right: -4px;
    }
    &.second{
        animation-name: secondDot;
        right: -8px;
    }
    &.third{
        animation-name: thirdDot;
        right: -12px;
    }
}
