<div class="container-fluid pad-30 mob-t-30 main-box">
  <div class="row">
    <div class="col-md-4" [hidden]="selectedUserToChat && isMobileDevice">
      <form #searchUserForm="ngForm" class="" 
        (ngSubmit)="onSubmit()">
        <div class="searchBox clear">
          <input id="search" name="search" [(ngModel)]="search"
            required minlength="3" #nameRef="ngModel" 
            (keyup)="searchInitiate()"
            class="left inputElement" placeholder="Search user with minimum 3 characters!!"/>
          <div class="left cross" (click)="clearSearch()">
            <button type="button" class="close" *ngIf="search"
             data-dismiss="alert">&times;</button>
          </div>
          <button type="submit" class="left buttonElement"
           [disabled]="!searchUserForm.form.valid">
            <i class="fas fa-search"></i>  
          </button>
        </div>
      </form>
      <div class="clear">
        <div class="right" (click)="toggleOnline()">
          Online
          <span class="test" round-switch enabled="{{online}}"></span>
        </div>
      </div>
      <div *ngIf="!searchCompleted && usersToChat && usersToChat.length && !searchResults.length">
        <div *ngFor="let user of usersToChat">
          <div class="item-user">
            <span (click)="selectUser(user)">
              <i class="fas fa-user-circle" [ngClass]="{'online': user.isOnline=='yes','offline': user.isOnline=='no'}"></i>
              <i class="vertical-seperator"></i>
              {{user.firstName + ' ' + user.lastName}}
            </span>
            <span class="right">
              <span *ngIf="user.ping" class="ping">{{user.ping}}</span>
              <i class="vertical-seperator"></i>
              <i class="far fa-comment" (click)="selectUser(user)"></i>
              <i class="vertical-seperator"></i>
              <i class="fas fa-ban" (click)="banBuddy(user.email)"></i>
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="searchResults && searchResults.length">
        <div *ngFor="let user of searchResults">
          <div class="item-user">
            <i class="fas fa-user-circle" [ngClass]="{'online': user.isOnline=='yes','offline': user.isOnline=='no'}"></i>
            <i class="vertical-seperator"></i>
            {{user.firstName + ' ' + user.lastName}} 
            <span class="right" *ngIf="emailsOfBuddies.indexOf(user.email)==-1"><i class="fas fa-user-plus" (click)="addBuddy(user.email)"></i></span>
          </div>
        </div>
      </div>
      <div *ngIf="searchCompleted && searchResults && !searchResults.length">
        <div class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Sorry!</strong> There is no such matching User.
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <app-chatwindow (deSelect)="CancelChat()" [user]="selectedUserToChat"></app-chatwindow>
    </div>
  </div>
</div>